Config { font = "-*-fixed-*-*-*-*-*-*-*-*-*-*-*-*"
       , borderColor = "#002b36"
       , border = NoBorder
       , bgColor = "#002b36"
       , fgColor = "#657b83"
       , position = TopSize L 100 18
       , lowerOnStart = True
       , hideOnStart = False
       , persistent = False
       , commands = [Run Weather "ESSB" ["-t","<station>: <tempC>C","-L","4","-H","23","--normal","#859900","--high","#b58900","--low","#839496"] 36000
                    --, Run DynNetwork ["-L","0","-H","32","--normal","green","--high","red"] 10
                    --, Run Network "eth1" ["-L","0","-H","32","--normal","green","--high","red"] 10
                    --, Run Cpu ["-L","3","-H","50","--normal","green","--high","red"] 10
                    --, Run Memory ["-t","Mem: <usedratio>%"] 10
                    --, Run Swap [] 10
    	            --, Run Date "%a %d, %H:%M" "date" 10
    	            , Run NamedXPropertyLog "_XMONAD_LOG" "xm"
                    , Run MPD ["-t",
                              "<composer> -  <title>",
                              "--", "-P", ">>", "-Z", "|", "-S", "><"] 10
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       -- , template = "%xm% }{ | %cpu% | %memory% * %swap% | %dynnetwork% <bc=#859900><fc=#002b36>%date%</fc></bc>| %ESSB% + %mpd%"
       , template = "%xm% }{ %ESSB% "
