Config { font = "-*-fixed-*-*-*-*-*-*-*-*-*-*-*-*"
       , borderColor = "#002b36"
       , border = NoBorder
       , bgColor = "#002b36"
       , fgColor = "#657b83"
       , position = TopSize L 100 18
       , lowerOnStart = True
       , hideOnStart = False
       , persistent = True
       , commands = [ Run DynNetwork ["-t", "<dev> t<tx>k r<rx>k", "-L","0","-H","32","--normal","#93a1a1","--high","#93a1a1"] 10
                    , Run MultiCpu ["-t", "<bar>", "-L","3","-H","80","--normal","#93a1a1","--high","#dc322f"] 10
                    , Run Memory ["-t","<fc=#93a1a1><rest></fc>M"] 1
                    --, Run Swap [] 10
                    , Run DiskIO [("/", "di/ w<fc=#93a1a1><write></fc> r<fc=#93a1a1><read></fc>")] [] 10
                    , Run Battery ["-t", "<leftbar>", "-L", "10", "-H", "80", "-p", "3"
                                  , "--"
                                  , "-L", "-15", "-H", "-5", "-l", "#93a1a1", "-m", "#93a1a1", "-h", "#93a1a1"] 600
    	            , Run Date " %a %b %_d, %H:%M " "date" 10
    	            , Run NamedXPropertyLog "_XMONAD_LOG" "xm"
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%xm% }{ <fc=#2aa198>+</fc> %diskio% <fc=#2aa198>+</fc> %dynnetwork% <fc=#2aa198>+</fc> cpu%multicpu% <fc=#2aa198>+</fc> memf%memory% <fc=#2aa198>+</fc> bat%battery% <fc=#2aa198>+</fc> <fc=##002b36,#859900>%date%</fc>"

-- Local Variables:
-- eval: (rainbow-mode 1)
-- End:
